#spotify-playlist {
    background: linear-gradient(to bottom, rgba(99, 86, 50, 0.432), rgba(208, 202, 154, 0.801)), url("../../assets/hero-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
